[submodule "_vim/pack/tpope/start/commentary"]
	path = _vim/pack/tpope/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "_vim/pack/tpope/start/vim-surround"]
	path = _vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "_vim/pack/tpope/start/vim-fugitive"]
	path = _vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/pack/editorconfig/start/editorconfig-vim"]
	path = _vim/pack/editorconfig/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "_tmux/tmux-resurrect"]
	path = _tmux/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "_vim/pack/ctrlpvim/start/ctrlp.vim"]
	path = _vim/pack/ctrlpvim/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
