[submodule "_vim/pack/tpope/start/commentary"]
	path = _vim/pack/tpope/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "_vim/pack/tpope/start/vim-surround"]
	path = _vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "_vim/pack/tpope/start/vim-fugitive"]
	path = _vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
